Repository jbabin91/tanstack-start-starter: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: node scripts/check-types.cjs {staged_files}
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true # Auto-stage ESLint fixes!
    lint-md:
      glob: '*.{md,mdx}'
      run: pnpm lint:md {staged_files}
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true # Auto-stage Prettier fixes!

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

chore(router): 🔨 remove unused type declarations from router.tsx
  src/router.tsx
Due: typecheck, lint, format

chore(deps): 🔨 update @react-email/components and detect-libc versions
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: lint, format

chore: update pnpm workspace overrides and improve component implementations
  docs/database-pattern.md
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ui/button/button.tsx
  src/components/ui/hover-card/hover-card.stories.tsx
  src/components/ui/sidebar/sidebar.tsx
  src/routeTree.gen.ts
Due: typecheck, lint, lint-md, format

chore(deps): 🔨 update package manager version to pnpm@10.18.1
  package.json
Due: format

chore(repo): :hammer: bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

fix(db): configure Vite SSR to prevent pg package bundling for client
  src/lib/db/index.ts
  vite.config.ts
Due: typecheck, lint, format

fix(types): add global Vite environment type definitions
  src/routes/__root.tsx
  src/types/env.d.ts
Due: typecheck, lint, format

chore(deps): update dependencies and ESLint configuration
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/check-types.cjs
  src/components/client-only.tsx
  src/components/datetime.tsx
  src/components/ui/badge/overlay-badge.tsx
  src/components/ui/sidebar/sidebar.tsx
  src/modules/auth/components/login-otp-form.tsx
  src/modules/auth/components/otp-verification-form.tsx
  src/routes/_public/demo/route.tsx
  src/styles/app.css
Due: typecheck, lint, format

fix(deploy): resolve Coolify deployment failures with Rolldown bindings
  nixpacks.toml
  package.json
  pnpm-lock.yaml
Due: format

fix(deploy): resolve Coolify deployment failures with Rolldown bindings
  nixpacks.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deploy): remove nixpacks.toml - let Nixpacks auto-detect config
  nixpacks.toml
Due: none

chore: restore engines to Vite 7 requirement (Node.js 22.12+)
  package.json
Due: format

fix(deploy): force Node.js 22.x latest via nixpacks.toml
  nixpacks.toml
Due: none

fix(deploy): add --force flag to pnpm install for native bindings
  nixpacks.toml
Due: none

fix(deploy): revert to nodejs_22 - nodejs-22_x is invalid
  nixpacks.toml
Due: none

chore(deploy): remove nixpacks.toml - rely on auto-detection
  nixpacks.toml
Due: none

fix(deploy): force Rolldown native bindings installation
  pnpm-workspace.yaml
Due: none

fix(deploy): remove stale rolldown-vite from pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(repo): install lefthook hooks on a fresh clone
  package.json
Due: format

Revert "fix(repo): install lefthook hooks on a fresh clone"
  package.json
Due: format

chore(repo): ignore review-cycle local state
  .gitignore
Due: none
